node-red/app/flows/watcher.json
[
  { "id": "db573ef29f4983ee", "type": "tab", "label": "watcher-ifttt", "disabled": false, "info": "", "env": [] },
  {
    "id": "354f243d719c2484",
    "type": "sensecap-config",
    "name": "watcher",
    "broker": "sensecap-openstream.seeed.cc",
    "port": 1883,
    "displayOrgid": "sensecap-org-id",
    "clientid": "org-sensecap-org-id-afo5sskq",
    "serverRadio": 1,
    "autoConnect": true,
    "protocolVersion": 4,
    "keepalive": 60,
    "cleansession": true,
    "randomStr": "afo5sskq"
  },
  {
    "id": "01b5525257ca2d17",
    "type": "OpenStream",
    "z": "db573ef29f4983ee",
    "name": "Sensecap Watcher",
    "qos": "0",
    "broker": "354f243d719c2484",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "topic": "",
    "eui": "2CF7F1C9627000B1",
    "channel": "",
    "measurementID": "",
    "output": "raw",
    "x": 170,
    "y": 240,
    "wires": [["85c949ca57d94bc9", "dbfd93402e9b1c74"]]
  },
  {
    "id": "85c949ca57d94bc9",
    "type": "debug",
    "z": "db573ef29f4983ee",
    "name": "Watcher output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 540,
    "y": 240,
    "wires": []
  },
  {
    "id": "dbfd93402e9b1c74",
    "type": "function",
    "z": "db573ef29f4983ee",
    "name": "Logic",
    "func": "//intervalInSeconds should be greater than or equal to the interval at which lights are turned on\n//lights should not be turned off is person was detected within this interval\nvar intervalInSeconds = 300;\nvar event = \"unknown\";\nvar lastUpdated = context.get(\"lastUpdated\");\nvar lights_on = context.get(\"lights_on\");\n\nvar now = new Date().getTime();\nvar diffInSeconds = parseInt((now - lastUpdated)/1000);\nnode.warn(\"lights_on::before =\"+lights_on);\nnode.warn(\"topic=\"+msg.topic);\n\nif (msg.topic.includes(\"light_off_timer\") && diffInSeconds >= intervalInSeconds){\n    event = \"turn_off_office_light\";\n    context.set(\"lights_on\", false);\n}else if(msg.topic.includes(\"device_sensor_data\")  ){\n    context.set(\"lastUpdated\", now);\n    if (lights_on === false)    {\n        event = \"turn_on_office_light\";\n        context.set(\"lights_on\", true);\n        \n    }else{\n        node.warn(\"do nothing\");\n        return null;\n    }\n\n    \n}else{\n    node.warn(\"do nothing\");\n    return null;\n}\n\nnode.warn(\"lights_on::after =\"+context.get(\"lights_on\"));\nreturn {\n    event,\n    payload: msg.payload\n}\n\n\n\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "// Code added here will be run once\n// whenever the node is started.\nnode.warn(\"on start of function\");\nif (context.get(\"lastUpdated\") === undefined){\n    //context.set(\"lastUpdated\", new Date().getTime());\n}\nif (context.get(\"lights_on\") === undefined) {\n    context.set(\"lights_on\", false);\n}",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 300,
    "wires": [["a32f08a508395a0b"]]
  },
  {
    "id": "a32f08a508395a0b",
    "type": "http request",
    "z": "db573ef29f4983ee",
    "name": "Web Req",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "https://maker.ifttt.com/trigger/{{event}}/with/key/your_key",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 520,
    "y": 360,
    "wires": [["53bfd534eec80741"]]
  },
  {
    "id": "53bfd534eec80741",
    "type": "debug",
    "z": "db573ef29f4983ee",
    "name": "IFTTT output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 360,
    "wires": []
  },
  {
    "id": "7b4ae14308b511c6",
    "type": "inject",
    "z": "db573ef29f4983ee",
    "name": "Lights off timer",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "light_off_timer",
    "payload": "",
    "payloadType": "str",
    "x": 120,
    "y": 480,
    "wires": [["dbfd93402e9b1c74"]]
  }
]
